.ui-menu-list {margin-top: -1px; box-shadow: 0 4px 5px rgba(0, 0, 0, .15);}
.ui-menu-list li{padding: 0 13px; line-height: 29px; text-align: left; cursor: pointer;}
.ui-menu-list li a{display: block; text-decoration: none; color:#333;}
.ui-suggest-select{position: relative;}
.ui-suggest-select .caret{position: absolute; right:10px; top:16px;}

.ui-menu-list li{background-color: #fff;}
.ui-menu-list li:hover,.ui-menu-list li.active{background-color: #4D90FE;}
.ui-menu-list li:hover a,.ui-menu-list li.active a{color:#fff;}


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #888;
}

.ui-select {
    position: relative;
}
.ui-select-input{
    cursor: pointer;
    border-color: #b8b8b8;

    background-color: #fff;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);

    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    overflow: hidden;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 13px;
    -webkit-font-smoothing: inherit;
    line-height: 18px;
    color: #303030;
}

.ui-select-input input {
    width: 100%;
    font-size: 14px;
    -webkit-font-smoothing: inherit;
    line-height: 18px;
    color: #303030;

    vertical-align: baseline;
    zoom: 1;

    max-width: 100% !important;
    max-height: none !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 1px !important;
    line-height: inherit !important;
    text-indent: 0 !important;
    background: none !important;
    border: 0 none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-user-select: auto !important;

}

.ui-select-input:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #808080 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ' ';
}

.ui-select-choices-group {
    position: relative;
    max-height: 204px;
    overflow: hidden;
}

.ui-select-choices {
    position: absolute;
    z-index: 100;
    margin: -1px 0 0 0;
    background: #ffffff;
    border: 1px solid #d0d0d0;
    border-top: 0 none;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #b8b8b8;
    top: 35px;
    width: 100%;
}

.ui-select-choices-row {
    font-size: 13px;
    padding: 6px 8px;
    overflow: hidden;
    cursor: pointer;
}

.ui-select-choices-row.active,
.ui-select-choices-row:hover {
    /*color: #fff;*/
    background-color: #f5fafd;
}

.ui-select-search {
    /*padding:0 5px;*/
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}

.ui-select-search input {
    box-sizing: border-box  !important;;
    width: 100%  !important;;
    border: 1px solid #ddd  !important;;
    border-left-color:#fff  !important;;
    border-right-color: #fff  !important;;
    padding: 6px  !important;;
    font-size: 14px  !important;
    border-radius: 0 !important;


    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-user-select: auto !important;
}
