


<div class="action-buttons">
    <a class="ui green button"  ng-click="vm.onAddOrEdit(0)">新增</a>
    <!-- <a class="ui button" style="margin-left:30px;" href="/index">返回</a> -->
</div>


<article class="markdown content">
    <table class="text-align-left-th">
        <thead>
            <th>模块</th>
            <th>app</th>
            <th>负责人</th>
            <th>备注</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr ng-repeat="mod in vm.list">
                <td ng-if="!mod._is0Rs" ng-bind="mod.tcscrBean.categoryName" rowspan="{{mod.__tl}}"></td>
                <td ng-bind="mod.categoryName"></td>
                <td ng-bind="mod.principalName"></td>
                <td ng-bind="mod.remark"></td>
                <td>
                    <span ng-click="vm.onAddOrEdit(1, mod)" style="cursor:pointer; margin-right:20px;">编辑</span>
                    <span ng-if="mod.id !== undefined" ng-click="vm.onDel(mod.id)" style="cursor:pointer;">删除</span>
                </td>
            </tr>
        </tbody>
    </table>
</article>
<div class="ui dimmer page hidden" ng-class="{'active': vm.state._active_}">
    <div class="ui tiny40 modal  transition  animating "
        ng-class="vm.state._active_2 ? 'scale in': ' hidden scale out'"  style="margin-top: -187px; width:400px; margin-left:-200px; animation-duration:200ms">
        <div class="header">
            确认
        </div>
        <div class="content">
            确认删除该条数据？
        </div>
        <div class="action-buttons">
            <a class="ui button" ng-click="vm.doHide()">取消</a>
            <a class="ui green button" ng-click="vm.doDel()">确定</a>
        </div>
    </div>

    <div class="ui tiny40 modal  transition  animating "
        ng-class="vm.state._active_1 ? 'scale in': 'hidden scale out'"
         style="margin-top: -227px; animation-duration:200ms">
        <div class="header">
            {{vm.state.isEdit ? '编辑' : '新增'}}
        </div>
        <div class="content">
            <!-- {{vm.form}} -->
            <form class="ui small form ng-pristine ng-valid" name="addOrEditForm">
                {{vm.parentvm}}
                <div class="field">
                    <label>是父级模块 </label>
                    <div class="ui-select" ng-style="{opacity: vm.state.isEdit? 0.5 : 1}" ng-disabled="vm.state.isEdit" select data="vm.parentCategory" placeholder="请选择模块"
                    ng-model="vm.form.parentId" key="categoryName" as-value="id"></div>
                </div>
                <div ng-if="!vm.form.parentId" class="field">
                    <label>模块<i style="color:red">*</i></label>
                    <input type="text" ng-model="vm.form.categoryName" name="categoryName" required>
                </div>
                <div ng-if="vm.form.parentId" class="field">
                    <label>app<i ng-if="vm._mod.id === undefined" style="color:red">*</i></label>
                    <input style="opacity: 0.5" ng-if="vm._mod.id"  type="text" ng-model="vm.form.categoryName" ng-disabled="true" name="categoryName">
                    <div ng-if="vm._mod.id === undefined" class="ui-select" select data="vm.servicesName" placeholder="请选择app"
                    ng-model="vm.form.categoryName" required></div>
                </div>

                <div class="field">
                    <label>负责人</label>
                    <input type="text"  ng-model="vm.form.principalName" name="principalName">
                </div>
                <div class="field">
                    <label>备注</label>
                    <textarea type="text" style="height:70px; min-height:auto" name="remark"  ng-model="vm.form.remark"></textarea>
                </div>
            </form>
            <div ng-if="vm.state.isSubmitError" class="alert alert-danger alert-dismissible">
                <button type="button" ng-click="vm.state.isSubmitError = 0" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{vm.isSubmitErrorText}}
            </div>
        </div>
        <div class="action-buttons">
            <a class="ui button" ng-click="vm.doHide();vm.clearForm();">关闭</a>
            <button  ng-if="!vm.state.submitting"  class="ui green button" ng-click="vm.doAdd()" ng-style="{opacity: addOrEditForm.$invalid? 0.5 : 1}"
            ng-disabled="addOrEditForm.$invalid">确定</button>
            <button ng-if="vm.state.submitting" class="ui green button" ng-style="{opacity: 0.5}">提交中..</button>
        </div>
    </div>
</div>
<div class="ui tiny40 modal  transition  animating " style=" width:400px;  margin:-130px 0 0 -200px;  animation-duration:200ms"
    ng-class="vm.state._active_3 ? 'scale in': 'hidden scale out'">
    <div class="header">
        通知
    </div>
    <div class="content" style="color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1">
        {{vm.popupText}}
    </div>
    <div class="action-buttons">
        <button class="ui green button" ng-click="vm.doHide()">知道了</button>
    </div>
</div>
<div class="ui tiny40 modal" style=" width:300px;  margin:-130px 0 0 -150px; "
    ng-class="vm.state._active_0 ? 'active scale in': 'hidden scale out'">
    <div class="content ng-binding" style="text-align:center; border:1px solid #ededed; border-radius:5px; color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;">
        {{vm.popupText}}
    </div>
</div>
